@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  background: #09090b;
  color: #fafafa;
}

body {
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}
